.wrapper {
    position: relative;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, 0.75);
    transition: border 300ms, box-shadow 300ms;
    /* background-color: #000ccc; */
}

.wrapper:hover,
:focus {
    border: solid 2px #0000ff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    ;
}