.form {
    display: block;
    margin: 0 auto;
}

.button-swap {
    display: block;
    margin: 0 auto 15px auto;
    border: none;
    background-color: #ffffff;

}

@media screen and (min-width:768px) {
    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}